.grid-cis{ 
    width: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images per row */
    gap: 10px; /* Space between images */
}

.square {
    border-radius: 20%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.restart {
    background-color: #e99d0f; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: inline-block; /* Exibição inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 10px 0; /* Margem */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
}

.restart:hover {
    background-color: #e7ca92;
}